/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* Navbar styles */
.navbar {
  background-color: #282c34;
  color: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
}

.navbar-user {
  color: white;
  font-size: 2rem;
  font-weight: 600;

}

.logout-button {
  background-color: #ff4d4d;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff0000;
}

/* Login page styles */

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #f4f4f4;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 8px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
}

.login-container input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

.login-container input::placeholder {
  color: #aaa;
}

.login-container button {
  background-color: #4CAF50;
  border: none;
  color: #ffffff;
  padding: 12px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #45a049;
}


.home-container h2 {
  padding: 20px;
  margin-top: 0;
  color: #333;
  font-size: 2rem;
}